/** 15xLayouts
 *  common combos
 *  v24.1.5 keiko
 *  zl
 */

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ layoutScreen */


    .layoutScreen {
        min-height: 100vh;
        position: relative;
    }
    .layoutScreen {
        background-image:    none;
        background-size:     cover;
        background-position: 50% 50%;
    }
    .layoutSticky {
        position: sticky;
        top: 0;
    }
    .layoutFixed {
        background-attachment: fixed;
    }
    @media all and (max-width:64em) {
    /* avoid fixed backgrounds for mobile browsers */
    .layoutFixed {
        background-attachment: scroll;
    }
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Summary Header */


    .summaryHeader { /* style config */
      --font-size:  2.4em;
      --line-height: 1.25;
      --marker-color:   currentColor;
      --border-style-default: dotted;
    }
    @media all and (max-width:64em) {
    .summaryHeader {
      --font-size:  1.6em;
    }
    }

    .summaryHeader {
        font-size:   var(--font-size);
        line-height: var(--line-height);
        width: max-content;
        max-width: 100%;
        max-width: calc(100% - var(--font-size)*var(--line-height));
        padding-right: 1em;
    }
    .summaryHeader::marker { color: var(--marker-color); }
    .summaryHeader >header {
        display: inline-block;
        font-size:   inherit;
        line-height: inherit;
        margin-bottom: 0.4em;
        border-bottom: 0.1em currentColor;
        border-bottom-style: var(--border-style-default);
        cursor: pointer;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ layoutBook */


.layoutBook {

/* config */
  --textSize: 42em;
  --sideSize: 24em;
  --grid-gap:  1em;
  --join-gap:  2em;

/* functional */
    position: relative;
    width:    100%;
    display:  grid;
    grid-gap: var(--grid-gap);
    grid-auto-flow:  row;
    grid-auto-rows:  min-content;
    grid-template-columns: 0 var(--useColumns) auto;
  --grid-column-full: 1/6;
  --grid-column-text: 2/3;
  --grid-column-side: 4/5;
  --grid-column-wrap: 2/5;
  --useColumns:
        minmax( auto, var(--textSize) )
        var(--join-gap)
        var(--sideSize)
     ;
}
/* small screen */
@media all and (max-width:68em) {
    .layoutBook {
      --grid-column-full: 1/4;
      --grid-column-text: 2/3;
      --grid-column-side: 2/3;
      --grid-column-wrap: 2/3;
      --useColumns: 1fr;
    }
}

/* children */
.layoutBook >*          {grid-column:var(--grid-column-text)} /* text paragraph */
.layoutBook >section    {grid-column:var(--grid-column-text)} /* paragraphs combined */
.layoutBook >blockquote {grid-column:var(--grid-column-side)} /* side note */
.layoutBook >header     {grid-column:var(--grid-column-wrap)} /* double column */
.layoutBook >footer     {grid-column:var(--grid-column-wrap)} /* double column */
.layoutBook >article    {grid-column:var(--grid-column-full)} /* overlay */

.layoutBook >.layoutBookText {grid-column:var(--grid-column-text)}
.layoutBook >.layoutBookWrap {grid-column:var(--grid-column-wrap)}
.layoutBook >.layoutBookSide {grid-column:var(--grid-column-side)}
.layoutBook >.layoutBookFull {grid-column:var(--grid-column-full)}

/* sub-grid */
.layoutBook >header,
.layoutBook >footer,
.layoutBook >section {
    width:    100%;
    display:  grid;
    grid-gap: var(--grid-gap);
    grid-auto-flow:  row;
    grid-auto-rows:  min-content;
    grid-template-columns: 1fr;
}


/** EOF Layouts */
