/** css.12xMarkup
 *  html tags default styling
 *  v2024.1.23 keiko
 *  zl
 */

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ display-source */
/** 24.1.23 **/

    [display-source] {
        display: block;
        padding: 0 1em 1em 0;
        margin:  0 0   1em 0;
        max-width: max-content;
        font-family: monospace;
        white-space: pre;
        overflow-x: auto;
    }

    [display-source]:is(textarea) {
        width:       100%;
        background:  transparent;
        color:       inherit;
        border:      0;
        outline:     0;
    }

    /** **
    [contenteditable] {
      --color: currentColor;
        color: var(--color);
        border-left: 1em solid var(--color);
    }
    /** **/

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ /display-source */

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ HTML attributes */

    [hidden] { display: none; }

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Semantic Markup Reset */


    figure, figcaption, fieldset, legend {
        display: block;
        margin:  0;
        padding: 0;
        border:  0;
        white-space: normal;
    }

    main, article, section, aside, header, footer, nav {
        display: block;
    }

    pre, code {
        display: block;
    }

    /* reset headers ?*/

    h1, h2, h3, h4, h5, h6 {
        margin:  0;
        padding: 0;
        font-family: inherit;
        font-size:   inherit;
        line-height: inherit;
        font-weight: inherit;
    }

    /*!*/

    p, blockquote {
        margin:  0;
        padding: 0;
        font:    inherit;
    }

    button {
        padding:    0.25em 1.5em;
        border:     0;
        font:       inherit;
      --background-color: var(--back-color-accent, transparent);
        background-color: var(--background-color);
      --color:            var(--text-color, inherit);
        color:            var(--color);
    }

    a { color: inherit; }

    ul, ol {
        padding:  0;
        margin:   0;
        margin-left: 1.5em;
    }

    nav ul, nav ol {
        margin-left: 0;
    }

    td, th {
        text-align:     left;
        vertical-align: top;
        padding-top:    0.25em;
        padding-bottom: 0.25em;
    }

    hr {
        background: transparent;
        box-shadow: none;
        border:  0;
        margin:  0;

     /* use as empty space */
        display:    block;
        font-size:  inherit;
        height:     4em;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Images and Media */


    img, svg, canvas,
    figure, figcaption,
    iframe, embed, object {
        display:   block;
        max-width: 100%;
        margin:    0;
        padding:   0;
        border:    0;
    }

    img {
        object-fit: cover;
    }


/*  EOF appart markup */
