/** appart css > combined log
 *  all components stay alive
 *  upd: 2024.1.22

    <!-- ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ > appart cssweb24 -->
    <link
        href="https://zlsheepcity.github.io/zlib/app/css.combinedlog.css"
        type="text/css" rel="stylesheet" media="all">

 */

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ > LOG */

:root {
 /* Paper Palette */
  --color-PaperBack:   hsl( 37, 55%, 85%);
}


    /** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ details»summary */

    /** .detailsWithSummaryHeader 24.1.22
        use details default marker
        use <header> for summary decoration
        */
        .detailsWithSummaryHeader {
          --font-size:  2.4em;
          --line-height: 1.25;
          --marker-color:   currentColor;
          --border-style-default: dotted;
        }
        @media all and (max-width:64em) {
        .detailsWithSummaryHeader {
            --font-size:  1.6em;
        }
        }/* /media */
        .detailsWithSummaryHeader>summary {
            font-size:   var(--font-size);
            line-height: var(--line-height);
            width: max-content;
            padding-right: 1em;
        }
        .detailsWithSummaryHeader>summary::marker {color:var(--marker-color);}
        .detailsWithSummaryHeader>summary >header {
            display: inline-block;
            font-size:   inherit;
            line-height: inherit;
            margin-bottom: 0.4em;
            border-bottom: 0.1em currentColor;
            border-bottom-style: var(--border-style-default);
            cursor: pointer;
        }

    /** .detailsWithSummaryHeader markup
        <details class="detailsWithSummaryHeader" --open>
            <summary>
                <header>
                    CAPTION
                </header>
            </summary>
        </details>
        */

    /** .detailsMarkerShowHide 24.1.22
        switch first-last child without layout jump
        */
        .detailsMarkerShowHide {
            display: inline-grid;
            grid-template-areas: 'overlay';
        }
        .detailsMarkerShowHide>* {
            grid-area:  overlay;
            pointer-events: all;
            pointer-events: var(--visible, none);
            opacity:        var(--visible, 0);
        }
        details:not([open]) .detailsMarkerShowHide >:first-child {--visible:1}
        details:is([open])  .detailsMarkerShowHide >:last-child  {--visible:1}

    /** .detailsMarkerShowHide markup
        <span class="detailsMarkerShowHide">
            <span>[show]</span>
            <span>[hide]</span>
        </span>
        */

    /** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ /details»summary */


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ > XX PARTS 2024.1.22 */

/** css.11xBase
 *  presets and basic setup
 *  v24.1.5 keiko
 *  zl
 */


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Spacing Units */


:root {
  --line-height:   1.5;
  --row-space:     1.5rem;                              /* Vertical */
  --col-space:     1.5rem;                              /* Horizontal */
  --mid-space:     2.5rem;                              /* Bigger 1 */
  --big-space:       4rem;                              /* Bigger 2 */
  --all-space:     var(--row-space) var(--col-space);   /* Combo Shortcode */
}


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Browser */


/** Minimal box model */
    *, *:before, *:after { box-sizing: border-box; }
    html                 { height: 100%; }
    html, body           { margin: 0; padding: 0; }

/** Full-height 2019
    https://css-tricks.com/some-things-you-oughta-know-when-working-with-viewport-units/
*/  body {
        min-height:  100vh;
        min-height: -webkit-fill-available;
        min-height: -moz-available;
        min-height:  available;
        min-height: -webkit-stretch;
        min-height: -moz-stretch;
        min-height:  stretch;
    }

/** Scroll behavoir */
    body { overflow-y:scroll; scrollbar-gutter:stable; }

/** Tap on clickable element */
    a, area, button, input, label, select, summary, textarea, [tabindex] {
       -ms-touch-action: manipulation;
           touch-action: manipulation;
    }


/** EOF appart base */

/** css.12xMarkup
 *  html tags default styling
 *  v2023.10.20 keiko
 *  zl
 */

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Code source */


    [display-source] {
        display:     block;
        font-family: monospace;
        white-space: pre-wrap;
        padding:     0 1em 2em 1em;
    }
    @media all and (max-width:64em) {
    [display-source] {
        white-space: pre;
        overflow-x:  auto;
    }
    }
    [display-source]:is(textarea) {
        width:       100%;
        background:  transparent;
        color:       inherit;
        border:      0;
        outline:     0;
    }

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ HTML attributes */

    [hidden] { display: none; }

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Semantic Markup Reset */


    figure, figcaption, fieldset, legend {
        display: block;
        margin:  0;
        padding: 0;
        border:  0;
        white-space: normal;
    }

    main, article, section, aside, header, footer, nav {
        display: block;
    }

    pre, code {
        display: block;
    }

    /* reset headers ?*/

    h1, h2, h3, h4, h5, h6 {
        margin:  0;
        padding: 0;
        font-family: inherit;
        font-size:   inherit;
        line-height: inherit;
        font-weight: inherit;
    }

    /*!*/

    p, blockquote {
        margin:  0;
        padding: 0;
        font:    inherit;
    }

    button {
        padding:    0.25em 1.5em;
        border:     0;
        font:       inherit;
      --background-color: var(--back-color-accent, transparent);
        background-color: var(--background-color);
      --color:            var(--text-color, inherit);
        color:            var(--color);
    }

    a { color: inherit; }

    ul, ol {
        padding:  0;
        margin:   0;
        margin-left: 1.5em;
    }

    nav ul, nav ol {
        margin-left: 0;
    }

    td, th {
        text-align:     left;
        vertical-align: top;
        padding-top:    0.25em;
        padding-bottom: 0.25em;
    }

    hr {
        background: transparent;
        box-shadow: none;
        border:  0;
        margin:  0;

     /* use as empty space */
        display:    block;
        font-size:  inherit;
        height:     4em;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Images and Media */


    img, svg, canvas,
    figure, figcaption,
    iframe, embed, object {
        display:   block;
        max-width: 100%;
        margin:    0;
        padding:   0;
        border:    0;
    }

    img {
        object-fit: cover;
    }


/*  EOF appart markup */

/** css.13xTypography
 *  preset-kit inspired by tufte (old book style typography)
 *  v2023.10.20 keiko
 *  zl
 */

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ font rendering */


html {
   -ms-text-size-adjust:     100%;
   -webkit-text-size-adjust: 100%;
}
body {
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ font base reset */


body {
    line-height: var(--line-height, 1.5);
    font-family: var(--font-family, sans-serif);
    font-weight: var(--font-weight, normal);
 /* font-size:   use default */

 /* store base values */
  --base-font-size:   1rem;
  --base-line-height: var(--line-height, 1.5);

 /* Decrease vertical padding on text paragraphs, to
    make them visually equal with horizontal paddings.
    Pixel-perfect value depends on font-family. */
  --base-font-square-ratio: 0.25;
}

.font-primary     { font-family: var(--font-family, sans-serif); }
.font-secondary   { font-family: var(--font-family-secondary, serif); }
.font-native-sans { font-family: var(--font-family-interface, sans-serif); }

.em-reset {
    font-size:   var(--base-font-size,   1rem);
    line-height: var(--base-line-height, 1.5);
}


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ font settings */


    :root {
      --font-family:             var(--font-family--tufte-serif);
      --font-family-secondary:   var(--font-family--tufte-sans);
      --font-family-interface:   var(--font-family--native-sans);
      --font-weight:             400;
    }

    @supports (hanging-punctuation: first) {
           * { hanging-punctuation: first; }
    }

    /* Font Features Inspector: wakamaifondue.com */

    .font-feature-digital {
        font-feature-settings:
            'lnum' on,
            'ss14' on,
            'ss17' on;
    }
    .sup-num {
        font-size:             inherit;
        vertical-align:        text-top;
        font-feature-settings: 'sups' on;
    }
    .sub-num {
        font-size:             inherit;
        vertical-align:        text-bottom;
        font-feature-settings: 'subs' on;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Native font stack 2018 */


:root {
  --font-family--native-sans:
       -apple-system,        /* Safari for macOS and iOS (San Francisco) */
        system-ui,           /* macOS Chrome, Windows Chrome */
        BlinkMacSystemFont,  /* Chrome < 56 for macOS (San Francisco) */
       "Segoe UI",           /* Windows */
        Roboto,              /* Android */
        Oxygen,              /* KDE */
        Ubuntu,              /* Ubuntu */
        Cantarell,           /* GNOME */
       "Fira Sans",          /* Firefox OS */
       "Helvetica Neue",     /* old macOS */
        Arial,               /* Basic web fallback */
        sans-serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; /* Emoji */
}


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ theme: Tufte 2018 */
/** ~ old book style design ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */
/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Font files */

/* USE LOCAL FONTS ?*/
@font-face {
    font-family: 'Vollkorn';
    font-weight:  normal;
    font-style:   normal;
    src:
        /* local('Vollkorn'), */
        url('./fonts/Vollkorn-R.eot?#iefix')           format('embedded-opentype'),
        url('./fonts/Vollkorn-R.woff2')                format('woff2'),
        url('./fonts/Vollkorn-R.woff')                 format('woff'),
        url('./fonts/Vollkorn-R.ttf')                  format('truetype'),
        url('./fonts/Vollkorn-R.svg#Vollkorn-Regular') format('svg');
}
@font-face {
    font-family: 'Vollkorn';
    font-weight:  700;
    font-style:   normal;
    src:
        url('./fonts/Vollkorn-B.eot?#iefix')        format('embedded-opentype'),
        url('./fonts/Vollkorn-B.woff2')             format('woff2'),
        url('./fonts/Vollkorn-B.woff')              format('woff'),
        url('./fonts/Vollkorn-B.ttf')               format('truetype'),
        url('./fonts/Vollkorn-B.svg#Vollkorn-Bold') format('svg');
}
@font-face {
    font-family: 'Vollkorn';
    font-weight:  normal;
    font-style:   italic;
    src:
        url('./fonts/Vollkorn-I.eot?#iefix')          format('embedded-opentype'),
        url('./fonts/Vollkorn-I.woff2')               format('woff2'),
        url('./fonts/Vollkorn-I.woff')                format('woff'),
        url('./fonts/Vollkorn-I.ttf')                 format('truetype'),
        url('./fonts/Vollkorn-I.svg#Vollkorn-Italic') format('svg');
}

@font-face {
    font-family: 'VT323';
    font-weight:  normal;
    font-style:   normal;
    src:
        url('./fonts/VT323-CODE.eot?#iefix')        format('embedded-opentype'),
        url('./fonts/VT323-CODE.woff')              format('woff'),
        url('./fonts/VT323-CODE.ttf')               format('truetype'),
        url('./fonts/VT323-CODE.svg#VT323-Regular') format('svg');
}
/*!*/
/* CSS GOOGLE SERVICE (2023) ?*
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=VT323');
/*!*/
/* HTML GOOGLE SERVICE (2023) ?*
    <!-- GOOGLE FONTS -->

    <link rel="preconnect"   href="//fonts.gstatic.com" crossorigin>

    <link
        media="none" onload="if(media!='all')media='all'"
        href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic"
        rel="stylesheet">
    <link
        media="none" onload="if(media!='all')media='all'"
        href="https://fonts.googleapis.com/css?family=VT323"
        rel="stylesheet">

    <noscript>
    <link
        media="all"
        href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700&subset=cyrillic"
        rel="stylesheet">
    <link
        media="all"
        href="https://fonts.googleapis.com/css?family=VT323"
        rel="stylesheet">
    </noscript>
/*!*/

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ tufte settings */

:root {
  --font-family--tufte-serif:
        Vollkorn,
        et-book,
        Palatino,
       "Palatino Linotype",
       "Palatino LT STD",
       "Book Antiqua",
        Georgia,
        serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family--tufte-sans:
       "Trebuchet MS",
       "Gill Sans",
       "Gill Sans MT",
        sans-serif,
       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ font-size system 2018 */

    :root {
     /* 64/80 */
      --h1-font-size:    4rem;
      --h1-line-height:  1.25;

     /* 48/60 */
      --h2-font-size:    3rem;
      --h2-line-height:  1.25;

     /* 36/48 */
      --h3-font-size:    2.25rem;
      --h3-line-height:  calc(4/3);

     /* 24/32 */
      --h4-font-size:    1.5rem;
      --h4-line-height:  calc(4/3);

     /* 20/24 */
      --h5-font-size:    1.25rem;
      --h5-line-height:  1.2;

     /* 16/24 */
      --h6-font-size:    1rem;
      --h6-line-height:  1.5;
      --p-font-size:     1rem;
      --p-line-height:   1.5;


     /* 20/24 */
      --inc-font-size:   1.25em;
      --inc-line-height: 1.2;

     /* 16/24 */
      --def-font-size:   1em;
      --def-line-height: 1.5;

     /* 13/16 */
      --dec-font-size:   calc(13/16*1em);
      --dec-line-height: calc(16/13);

     /* 12/16 */
      --doz-font-size:   0.75em;
      --doz-line-height: calc(4/3);
    }

@media all and (max-width:42em) {
    :root {
     /* 36/40 */
      --h1-font-size:    2.25rem;
      --h1-line-height:  calc(40/36);
     /* 32/36 */
      --h2-font-size:    2rem;
      --h2-line-height:  calc(36/32);
     /* 28/32 */
      --h3-font-size:    1.75rem;
      --h3-line-height:  calc(32/28);
    }
}

/* USE HEADERS ?*/
    h1 {
        font-size:   var(--h1-font-size);
        line-height: var(--h1-line-height);}
    h2 {
        font-size:   var(--h2-font-size);
        line-height: var(--h2-line-height);}
    h3 {
        font-size:   var(--h3-font-size);
        line-height: var(--h3-line-height);}
    h4 {
        font-size:   var(--h4-font-size);
        line-height: var(--h4-line-height);}
    h5 {
        font-size:   var(--h5-font-size);
        line-height: var(--h5-line-height);}
    h6 {
        font-size:   var(--h6-font-size);
        line-height: var(--h6-line-height);}
/*!*/
/* USE HEADER CLASSES ?*/
    .h1 {
        font-size:   var(--h1-font-size);
        line-height: var(--h1-line-height);}
    .h2 {
        font-size:   var(--h2-font-size);
        line-height: var(--h2-line-height);}
    .h3 {
        font-size:   var(--h3-font-size);
        line-height: var(--h3-line-height);}
    .h4 {
        font-size:   var(--h4-font-size);
        line-height: var(--h4-line-height);}
    .h5 {
        font-size:   var(--h5-font-size);
        line-height: var(--h5-line-height);}
    .h6 {
        font-size:   var(--h6-font-size);
        line-height: var(--h6-line-height);}
/*!*/

.text-inline-bigger {
 /* 20/24 */
  --font-size:   var(--inc-font-size, 1.25em);
  --line-height: var(--inc-line-height, 1.2);
    font-size:   var(--font-size);
    line-height: var(--line-height);
}
.text-block-bigger {
 /* 20/32 */
  --font-size:   var(--inc-font-size, 1.25em);
  --line-height: calc(32/20);
    font-size:   var(--font-size);
    line-height: var(--line-height);
}
.text-inline-smaller,
.text-block-smaller {
 /* 13/16 */
  --font-size:   var(--dec-font-size,   calc(13/16*1em));
  --line-height: var(--dec-line-height, calc(16/13));
    font-size:   var(--font-size);
    line-height: var(--line-height);
}

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Text Paragraph */
/*
    Readable text blocks with width limitation
    Values tested in the 2020 by zl
 */

    :root {
      --paragraph-width--max: 42em; /* Limit ~ 42em in most typefaces */
      --paragraph-width--opt: 32em; /* Optimal */
      --paragraph-width--mid: 24em; /* Smaller */
      --paragraph-width--min: 12em; /* Minimal Readable */
    }
    @media all and (max-width:12em) { :root {
      --paragraph-width--min: 100%;
    } }

    .paragraph {
      --max-width: var(--paragraph-width--opt);
      --min-width: var(--paragraph-width--min);
        max-width: var(--max-width);
        min-width: var(--min-width);
    }
    .maxi-paragraph {
      --max-width: var(--paragraph-width--max);
      --min-width: var(--paragraph-width--min);
        max-width: var(--max-width);
        min-width: var(--min-width);
    }
    .midi-paragraph {
      --max-width: var(--paragraph-width--mid);
      --min-width: var(--paragraph-width--min);
        max-width: var(--max-width);
        min-width: var(--min-width);
    }
    .mini-paragraph {
      --max-width: var(--paragraph-width--min);
        max-width: var(--max-width);
    }


/** EOF appart typography */

/** css.14xColors
 *  color theme 2020
 *  v2023.10.20 keiko
 *  zl
 */

:root {
 /* Paper Palette */
  --color-PaperBack:   hsl( 37, 55%, 85%);
  --color-PaperDark:   hsl(  0,  0%,  8%);
 /* Noble Palette */
  --color-NobleBlack:  hsl(226, 15%, 12%);
  --color-NobleWhite:  hsl(226, 27%, 90%);
  --color-NobleNight:  hsl(226, 17%, 20%);
  --color-NobleDay:    hsl(226, 32%, 75%);
  --color-NobleSky:    hsl(204, 22%, 55%);
  --color-NobleSea:    hsl(212, 34%, 29%);
  --color-NobleSunset: hsl(359, 28%, 82%);
  --color-NobleAccent: hsl(359, 54%, 53%);
  --color-NobleAction: hsl(359, 59%, 43%);
 /* Ivory Palette */
  --color-Ivory:       hsl( 53, 66%, 80%);
  --color-IvoryAccent: hsl( 53, 70%, 76%);
  --color-IvoryDark:   hsl(204,  4%, 22%);
  --color-IvoryGray:   hsl(204,  8%, 38%);
 /* App Palette */
  --color-AppBlue:     hsl(202, 81%, 23%);
  --color-AppGreen:    hsl(155, 31%, 62%);
  --color-AppGold:     hsl( 42, 79%, 53%);
  --color-AppRed:      hsl( 15, 75%, 30%);
  --color-AppBrown:    hsl( 34, 20%, 33%);
}


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Color Model ZL.2020 */

    .use-colors {
      --background-color: var(--back-color);
      --color:            var(--text-color);
        background-color: var(--background-color);
        color:            var(--color);
    }

    .colors--base {
      --back-color:       white;
      --back-color-more:  white;
      --back-color-less:  white;

      --text-color:       black;
      --text-color-more:  black;
      --text-color-less:  black;

      --link-color:       firebrick;
      --link-color-more:  firebrick;
      --link-color-text:  white;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Color Palettes */


    .colors--swed {
      --back-color:       hsl(226, 15%, 12%); /* NobleBlack */
      --back-color-more:  hsl(212, 34%, 29%); /* NobleSea */
      --back-color-less:  hsl(226, 17%, 20%); /* NobleNight */

      --text-color:       hsl(226, 27%, 90%); /* NobleWhite */
      --text-color-more:  hsl(226, 32%, 75%); /* NobleDay */
      --text-color-less:  hsl(226, 32%, 66%);

      --link-color:       hsl(359, 54%, 53%); /* NobleAccent */
      --link-color-more:  hsl(359, 59%, 43%); /* NobleAction */
      --link-color-text:  white;
    }

    .colors--swed-secondary {
      --back-color:       hsl(212, 34%, 29%); /* NobleSea */
      --back-color-more:  hsl(212, 42%, 22%);
      --back-color-less:  hsl(212, 30%, 32%);

      --text-color:       hsl(226, 27%, 90%); /* NobleWhite */
      --text-color-more:  hsl(226, 32%, 75%); /* NobleDay */
      --text-color-less:  hsl(226, 32%, 66%);

      --link-color:       hsl(359, 54%, 53%); /* NobleAccent */
      --link-color-more:  hsl(359, 59%, 43%); /* NobleAction */
      --link-color-text:  white;
    }

    .colors--swed-third {
      --back-color:       hsl(204, 22%, 55%); /* NobleSky */
      --back-color-more:  hsl(204, 26%, 50%);
      --back-color-less:  hsl(204, 18%, 58%);

      --text-color:       hsl(226, 15%, 12%); /* NobleBlack */
      --text-color-more:  hsl(212, 34%, 29%); /* NobleSea */
      --text-color-less:  hsl(226, 17%, 20%); /* NobleNight */

      --link-color:       hsl(359, 54%, 53%); /* NobleAccent */
      --link-color-more:  hsl(359, 59%, 43%); /* NobleAction */
      --link-color-text:  white;
    }

    .colors--ivory {
      --back-color:       hsl( 53, 66%, 80%); /* Ivory */
      --back-color-more:  hsl( 53, 70%, 70%);
      --back-color-less:  hsl( 53, 70%, 76%); 

      --text-color:       hsl(204,  4%, 22%); /* IvoryDark */
      --text-color-more:  hsl(204,  8%, 38%); /* IvoryGray */
      --text-color-less:  hsl(204,  8%, 38%); /* IvoryGray */

      --link-color:       hsl(359, 54%, 53%); /* NobleAccent */
      --link-color-more:  hsl(359, 59%, 43%); /* NobleAction */
      --link-color-text:  white;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ */

/** 15xLayouts
 *  common combos
 *  v24.1.5 keiko
 *  zl
 */

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ layoutScreen */


    .layoutScreen {
        min-height: 100vh;
        position: relative;
    }
    .layoutScreen {
        background-image:    none;
        background-size:     cover;
        background-position: 50% 50%;
    }
    .layoutSticky {
        position: sticky;
        top: 0;
    }
    .layoutFixed {
        background-attachment: fixed;
    }
    @media all and (max-width:64em) {
    /* avoid fixed backgrounds for mobile browsers */
    .layoutFixed {
        background-attachment: scroll;
    }
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Summary Header */


    .summaryHeader { /* style config */
      --font-size:  2.4em;
      --line-height: 1.25;
      --marker-color:   currentColor;
      --border-style-default: dotted;
    }
    @media all and (max-width:64em) {
    .summaryHeader {
      --font-size:  1.6em;
    }
    }

    .summaryHeader {
        font-size:   var(--font-size);
        line-height: var(--line-height);
        width: max-content;
        max-width: 100%;
        max-width: calc(100% - var(--font-size)*var(--line-height));
        padding-right: 1em;
    }
    .summaryHeader::marker { color: var(--marker-color); }
    .summaryHeader >header {
        display: inline-block;
        font-size:   inherit;
        line-height: inherit;
        margin-bottom: 0.4em;
        border-bottom: 0.1em currentColor;
        border-bottom-style: var(--border-style-default);
        cursor: pointer;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ layoutBook */


.layoutBook {

/* config */
  --textSize: 42em;
  --sideSize: 24em;
  --grid-gap:  1em;
  --join-gap:  2em;

/* functional */
    position: relative;
    width:    100%;
    display:  grid;
    grid-gap: var(--grid-gap);
    grid-auto-flow:  row;
    grid-auto-rows:  min-content;
    grid-template-columns: 0 var(--useColumns) auto;
  --grid-column-full: 1/6;
  --grid-column-text: 2/3;
  --grid-column-side: 4/5;
  --grid-column-wrap: 2/5;
  --useColumns:
        minmax( auto, var(--textSize) )
        var(--join-gap)
        var(--sideSize)
     ;
}
/* small screen */
@media all and (max-width:68em) {
    .layoutBook {
      --grid-column-full: 1/4;
      --grid-column-text: 2/3;
      --grid-column-side: 2/3;
      --grid-column-wrap: 2/3;
      --useColumns: 1fr;
    }
}

/* children */
.layoutBook >*          {grid-column:var(--grid-column-text)} /* text paragraph */
.layoutBook >section    {grid-column:var(--grid-column-text)} /* paragraphs combined */
.layoutBook >blockquote {grid-column:var(--grid-column-side)} /* side note */
.layoutBook >header     {grid-column:var(--grid-column-wrap)} /* double column */
.layoutBook >footer     {grid-column:var(--grid-column-wrap)} /* double column */
.layoutBook >article    {grid-column:var(--grid-column-full)} /* overlay */

.layoutBook >.layoutBookText {grid-column:var(--grid-column-text)}
.layoutBook >.layoutBookWrap {grid-column:var(--grid-column-wrap)}
.layoutBook >.layoutBookSide {grid-column:var(--grid-column-side)}
.layoutBook >.layoutBookFull {grid-column:var(--grid-column-full)}

/* sub-grid */
.layoutBook >header,
.layoutBook >footer,
.layoutBook >section {
    width:    100%;
    display:  grid;
    grid-gap: var(--grid-gap);
    grid-auto-flow:  row;
    grid-auto-rows:  min-content;
    grid-template-columns: 1fr;
}


/** EOF Layouts */

/** 16xTools
 *  decorations and layouts
 *  v2023.10.20 keiko
 *  zl
 */

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ bg mixers */


.background-blend-mixer {
/** Blends together the background layers
  * without affecting the foreground content */
  --background:
    /** Could have: */

        url(image1.png),        /* images */
        url(image2.png),
        rgba(244, 65, 106, 1),  /* colors */
        linear-gradient(        /* gradients */
            45deg,
            rgba(65, 68,244, 1),
            rgba(203, 66, 244, 0.5)
        )
        ;

/** We can specify multiple values for background-blend-mode
  * one for each background layer */
  --background-blend-mode: screen, multiply;

    background-size: cover;
    background-blend-mode: var(--background-blend-mode);
    background: var(--background);
}

img.blend-with-color,
   .blend-with-color {
  --background-color: hsl(204, 22%, 55%); /*NobleSky*/
    background-color: var(--background-color);
    mix-blend-mode: multiply;
}

/** END OF Tools */