/** stylecore combo, 24.7.24.Len **/
/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Window */


/** Minimal box model */
    *, *:before, *:after { box-sizing: border-box; }
    html                 { height: 100%; }
    html, body           { margin: 0; padding: 0; }

/** Scroll behavoir - force visible to avoid content jump, 2024 */
    body { overflow-y:scroll; scrollbar-gutter:stable; }

/** Tap on clickable element */
    a, area, button, input, label, select, summary, textarea, [tabindex] {
       -ms-touch-action: manipulation;
           touch-action: manipulation;
    }

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Semantic markup reset */

    figure, figcaption, fieldset, legend {
        display: block;
        margin:  0;
        padding: 0;
        border:  0;
        white-space: normal;
    }

    main, article, section, aside, header, footer, nav {
        display: block;
    }

    pre, code {
        display: block;
    }

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Text markup reset */

    p, blockquote {
        margin:  0;
        padding: 0;
        font:    inherit;
    }

    ul, ol {
        padding:  0;
        margin:   0;
        margin-left: 1.5em;
    }

    a {
        color: inherit;
        text-decoration: underline;
    }

    h1, h2, h3, h4, h5, h6 {
        margin:  0;
        padding: 0;
        font-family: inherit;
     /* font-size:   inherit; */
        line-height: inherit;
        font-weight: inherit;
    }

/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Elements to normalize 2024 */

    [hidden] { display: none; }

    button {
        padding:    0.25em 1.5em;
        border:     0;
        font:       inherit;
      --background-color: var(--back-color-accent, transparent);
        background-color: var(--background-color);
      --color:            var(--text-color, inherit);
        color:            var(--color);
    }

    td, th {
        text-align:     left;
        vertical-align: top;
        padding-top:    0.25em;
        padding-bottom: 0.25em;
    }

    hr {
        background: transparent;
        box-shadow: none;
        border:  0;
        margin:  0;

     /* use as empty space */
        display:    block;
        font-size:  inherit;
        height:     4em;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Images and Media */


    img, svg, canvas,
    figure, figcaption,
    iframe, embed, object {
        display:   block;
        max-width: 100%;
        margin:    0;
        padding:   0;
        border:    0;
    }

    img {
        object-fit: cover;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ font rendering */


html {
   -ms-text-size-adjust:     100%;
   -webkit-text-size-adjust: 100%;
}
body {
    text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
}


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ font settings 2024 */


    body {
        line-height: var(--line-height, 1.5);
        font-family: var(--font-family, sans-serif);
        font-weight: var(--font-weight, normal);
     /* font-size:   use default */
    }

    :root {
      --font-family: var(--font-family--TufteSerif);
      --font-family--TufteSerif:
            Vollkorn, "et-book", Palatino, "Palatino Linotype","Palatino LT STD","Book Antiqua",
            Georgia, serif, "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
      --font-weight: 400;
    }

    /* Font Features Inspector: wakamaifondue.com */

    .font-feature-digital {
        font-feature-settings:
            'lnum' on,
            'ss14' on,
            'ss17' on;
    }
    .sup-num {
        font-size:             inherit;
        vertical-align:        text-top;
        font-feature-settings: 'sups' on;
    }
    .sub-num {
        font-size:             inherit;
        vertical-align:        text-bottom;
        font-feature-settings: 'subs' on;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Colors 2020 */


:root {
 /* Paper Palette */
  --color-PaperTone:   hsl( 37, 55%, 85%);
  --color-PaperDark:   hsl(  0,  0%,  8%);
  --color-PaperRose:   hsl(359, 59%, 43%);
 /* Noble Palette */
  --color-NobleBlack:  hsl(226, 15%, 12%);
  --color-NobleWhite:  hsl(226, 27%, 90%);
  --color-NobleNight:  hsl(226, 17%, 20%);
  --color-NobleDay:    hsl(226, 32%, 75%);
  --color-NobleSky:    hsl(204, 22%, 55%);
  --color-NobleSea:    hsl(212, 34%, 29%);
  --color-NobleSunset: hsl(359, 28%, 82%);
  --color-NobleAccent: hsl(359, 54%, 53%);
  --color-NobleAction: hsl(359, 59%, 43%);
 /* Ivory Palette */
  --color-Ivory:       hsl( 53, 66%, 80%);
  --color-IvoryAccent: hsl( 53, 70%, 76%);
  --color-IvoryDark:   hsl(204,  4%, 22%);
  --color-IvoryGray:   hsl(204,  8%, 38%);
 /* App Palette */
  --color-AppBlue:     hsl(202, 81%, 23%);
  --color-AppGreen:    hsl(155, 31%, 62%);
  --color-AppGold:     hsl( 42, 79%, 53%);
  --color-AppRed:      hsl( 15, 75%, 30%);
  --color-AppBrown:    hsl( 34, 20%, 33%);
}


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ Color Model 2020 */


    .use-colors {
      --background-color: var(--back-color);
      --color:            var(--text-color);
        background-color: var(--background-color);
        color:            var(--color);
    }

    /* Palettes */

    .colors--swed {
      --back-color:       hsl(226, 15%, 12%); /* NobleBlack */
      --back-color-more:  hsl(212, 34%, 29%); /* NobleSea */
      --back-color-less:  hsl(226, 17%, 20%); /* NobleNight */

      --text-color:       hsl(226, 27%, 90%); /* NobleWhite */
      --text-color-more:  hsl(226, 32%, 75%); /* NobleDay */
      --text-color-less:  hsl(226, 32%, 66%);

      --link-color:       hsl(359, 54%, 53%); /* NobleAccent */
      --link-color-more:  hsl(359, 59%, 43%); /* NobleAction */
      --link-color-text:  white;
    }

    .colors--swed-secondary {
      --back-color:       hsl(212, 34%, 29%); /* NobleSea */
      --back-color-more:  hsl(212, 42%, 22%);
      --back-color-less:  hsl(212, 30%, 32%);

      --text-color:       hsl(226, 27%, 90%); /* NobleWhite */
      --text-color-more:  hsl(226, 32%, 75%); /* NobleDay */
      --text-color-less:  hsl(226, 32%, 66%);

      --link-color:       hsl(359, 54%, 53%); /* NobleAccent */
      --link-color-more:  hsl(359, 59%, 43%); /* NobleAction */
      --link-color-text:  white;
    }

    .colors--swed-third {
      --back-color:       hsl(204, 22%, 55%); /* NobleSky */
      --back-color-more:  hsl(204, 26%, 50%);
      --back-color-less:  hsl(204, 18%, 58%);

      --text-color:       hsl(226, 15%, 12%); /* NobleBlack */
      --text-color-more:  hsl(212, 34%, 29%); /* NobleSea */
      --text-color-less:  hsl(226, 17%, 20%); /* NobleNight */

      --link-color:       hsl(359, 54%, 53%); /* NobleAccent */
      --link-color-more:  hsl(359, 59%, 43%); /* NobleAction */
      --link-color-text:  white;
    }

    .colors--ivory {
      --back-color:       hsl( 53, 66%, 80%); /* Ivory */
      --back-color-more:  hsl( 53, 70%, 70%);
      --back-color-less:  hsl( 53, 70%, 76%); 

      --text-color:       hsl(204,  4%, 22%); /* IvoryDark */
      --text-color-more:  hsl(204,  8%, 38%); /* IvoryGray */
      --text-color-less:  hsl(204,  8%, 38%); /* IvoryGray */

      --link-color:       hsl(359, 54%, 53%); /* NobleAccent */
      --link-color-more:  hsl(359, 59%, 43%); /* NobleAction */
      --link-color-text:  white;
    }


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ /Color Model **/


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ display-source */


    [display-source] {
        display: block;
        padding: 0 1em 1em 0;
        margin:  0 0   1em 0;
        max-width: max-content;
        font-family: monospace;
        white-space: pre;
        overflow-x: auto;
    }
    [display-source]:is(textarea) {
        width:       100%;
        background:  transparent;
        color:       inherit;
        border:      0;
        outline:     0;
    }

    /** **
    [contenteditable] {
      --color: currentColor;
        color: var(--color);
        border-left: 1em solid var(--color);
    }
    /** **/


/** ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ ~ /display-source */
